<div class="author">
  <h1 class="author__heading">Daily News</h1>
  <p class="author__body">Stay informed, stay ahead</p>
</div>

<img src="/img/front_img3.jpg" alt="" class="hero-image" />

<section class="articles">
  <h2 class="articles__heading">Latest News</h2>

  <ul class="article-ul">
    <% data.forEach(post => { %>

    <li>
      <a href="/post/<%= post._id %>">
        <span><%= post.title %></span>
        <span class="article-list__date"
          ><%=post.createdAt.toDateString() %></span
        >
      </a>
    </li>

    <% }) %>
  </ul>

  <% if (nextPage!==null) { %>
  <a href="/?page=<%= nextPage %>" class="pagination">&lt; View Older News</a>
  <% } %>
</section>
